body.light{
    background-color: white;
}
body.dark{
    background-color: black;
}
h1{
    text-align: center;
    color: brown;
}
.searchingtools{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    gap: 10px;
}
#searchInput{
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    
}
#searchInput:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
#searchBtn{
    padding: 10px;
    border: solid 1px black;
    border-radius: 20px;
    color: black;

}
#searchBtn:hover{
    background-color: rgb(248, 136, 136);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
#movie-container{
    display: none;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    z-index: 9997;
}
#action{
    display: flex;
    overflow-x: auto;
    z-index: 299;
    gap: 15px;

   
}
#comedy{
    display: flex;
    overflow-x: auto;
    z-index: 299;
    gap: 15px;

   
}
#stars{
    display: flex;
    overflow-x: auto;
    z-index: 299;
    gap: 15px;

   
}
.movie-card{
    padding: 10px;
    background-color: rgb(238, 196, 196);
    border-radius: 20px;
     box-shadow: 0 4px 8px rgba(7, 7, 7, 0.1);
    
}
.movie-card:hover{


    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(7, 7, 7, 0.2);
}

#movie-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
    
    
}
#closebtn{
    
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;

}
#modal-content{
    margin:  auto;
    padding: 20px;
    width: 50%;
    background: white;
    border-radius: 10px;
    position: relative;
    max-width: 600px;
    display: flex;
    gap: 10px;
    align-items: flex-start;


}

#watchlist-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
    
    
}
#closebtn{
    
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;

}
#watchlist-content{
    margin:  auto;
    padding: 20px;
    position: absolute;
    background: white;
    border-radius: 10px;
    position: relative;
    
    display: flex;
    gap: 10px;
    align-items: flex-start;


}
#watchlist-closebtn{
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100000;
}